    /* Chatbot button and window styles */
    
    .chatbot-container {
        position: fixed;
        bottom: 20px;
        right: 20px;
        z-index: 9999; /* Set a higher z-index value */
        animation: floatAnimation 3s infinite alternate;
      }
  
      @keyframes floatAnimation {
        0% {
          transform: translateY(0);
        }
        50% {
          transform: translateY(-10px);
        }
        100% {
          transform: translateY(0);
        }
      }
      .chatbot-button {
        position: relative;
        z-index: 1;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 20px;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
      }
  
      .chatbot-button::before {
        content: '\1F916'; /* Robot emoji */
        margin-right: 10px;
      }
  
      .chatbot-window {
        display: none;
        position: relative;
        bottom: 80px;
        right: 20px;
        width: 300px;
        background-color: #f4f4f4;
        border-radius: 10px;
        padding: 10px;
      }
  
      .chatbot-messages {
        height: 200px;
        overflow-y: scroll;
        margin-bottom: 10px;
      }
  
      .user {
        color: blue;
      }
  
      .bot {
        color: green;
      }
  
      .user-message::before {
        content: 'You: ';
        font-weight: bold;
      }
  
      .bot-message::before {
        content: 'Bot: ';
        font-weight: bold;
      }
  
      .user-message,
      .bot-message {
        margin-bottom: 5px;
      }
  
      .user-input {
        width: 100%;
        padding: 5px;
        margin-bottom: 10px;
      }
  
      .send-button {
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        padding: 5px 10px;
        font-size: 14px;
        cursor: pointer;
      }